@using FestivalSite.Helpers
@model IEnumerable<FestivalLibAdmin.Model.Optreden>
@if(Model!=null&&Model.Count()>0)
{ 
<ul class="optredens">
    @foreach (var item in Model)
    {
        <li style="color:@item.Stage.RGBAColor;">
            @Html.ActionLink(item.From.BeDayOfWeek().ToString(), "Details", "Dag", new { dag = item.From.BeDayOfWeek() },null)
            
            @Html.DisplayFor(modelItem => item.From)  
            -
            @Html.DisplayFor(modelItem => item.Until)             
            @if (item.Stage != null)
            {
                <text>&#64;</text>
                <a class="stage" href="@Url.Action("details","stage",new{name=item.Stage.Name})">
                    <img height="20" width="30" style="height:2em;width:auto;margin-bottom:-.3em;" src="@item.Stage.Logo" /><span>@item.Stage.Name</span>
                </a>
                
            }
            
        </li>
    }
</ul>
}
