@model FestivalLibAdmin.Model.Band

@{
    ViewBag.Title = @Model.Name;
}
<section class="breadcrumb">
@Html.MvcSiteMap().SiteMapPath()
</section>
<article class="clearfix">
    <img src="@Model.Picture" class="card" />

    <h2>@Model.Name</h2>
    <section>
        <div class="card">
            <h3>Beschrijving</h3>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
        </div>
        <div class="card" style="float:right;clear:right">
            <h3>Optredens</h3>
            @Html.Action("OptredensPartial", new { bandID = Model.ID })
        </div>
        <div class="card" style="float:right;clear:right;">
            <h3>Genres</h3>
            @Html.Action("GenresPartial", new { bandID = Model.ID })
        </div>
        <div class="social card" style="float:right;clear:right;">
            <h3>Social</h3>
            @if (Model.Facebook != null) { 
            <a href="@Model.Facebook" target="_blank">
                Facebook
            </a>
            }
            @if (Model.Twitter != null) { 
            <a href="@Model.Twitter" target="_blank">
                Twitter
            </a>
            }
        </div>
        
        
        
    </section>
</article>
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
