<!DOCTYPE html>
<html id="top">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Satisfaction</title>
        <link href="~/Content/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/elastic")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <a class="logo" href="@Url.Action("Index","Home",null)" > </a>
                @*<div>
    <section class="login">
        @Html.Partial("_LoginPartial")
    </section>*@
            
                    <nav class="clearfix">
                        <button id="openNav" class="openCloseNav"></button>
                        @*<ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Line-up", "Index", "Lineup")</li>
                            <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                        </ul>*@
                        @Html.MvcSiteMap().Menu(0,true,true,1)

                    </nav>
                @*</div>*@
        </header>
        <article id="body" class="content-wrapper clearfix">
            @RenderSection("featured", required: false)
                @RenderBody()
        </article>
        <footer class="content-wrapper">
            <div class="card clearfix">
                &copy; @DateTime.Now.Year - Satisfaction
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Log uit" />
                    }
                }
                else
                {
                    @Html.ActionLink("Log in", "login", "account", new { returnUrl = this.Request.Url }, null);
                }
                <a href="#top">Keert eke were</a>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/stack")
        @RenderSection("scripts", required: false)
        <script>
            $(".openCloseNav").click(function () {
                $("header nav ul").toggleClass("boom");
            })
        </script>
    </body>
</html>
