<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Satisfaction</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/elastic")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <section class="content-wrapper">
                @*<div>
    <section class="login">
        @Html.Partial("_LoginPartial")
    </section>*@
                    <nav>
                        @*<ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Line-up", "Index", "Lineup")</li>
                            <li>@Html.ActionLink("Tickets", "Index", "Tickets")</li>
                        </ul>*@
                        @Html.MvcSiteMap().Menu(0,true,true,1)
                    </nav>
                @*</div>*@
            </section>
        </header>
        <article id="body" class="content-wrapper">
            @RenderSection("featured", required: false)
                @RenderBody()
        </article>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Satisfaction</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/stack")
        @RenderSection("scripts", required: false)
        <script>
            var element =$("#elasticstack");
            if (element[0] != undefined) {
                new ElastiStack(element[0], {
                    // distDragBack: if the user stops dragging the image in a area that does not exceed [distDragBack]px 
                    // for either x or y then the image goes back to the stack 
                    distDragBack: 150,
                    // distDragMax: if the user drags the image in a area that exceeds [distDragMax]px 
                    // for either x or y then the image moves away from the stack 
                    distDragMax: 300,
                    // callback
                    onUpdateStack: function (current) { return false; }
                });
                var xy = new Array();
                
                $("#elasticstack a").mousedown(elasticMouseDownHandler);
                function elasticMouseDownHandler(evt) {
                    xy[0]=evt.pageX;
                    xy[1]=evt.pageY;
                }
                $("#elasticstack a").mouseup(elasticMouseUpHandler);
                function elasticMouseUpHandler(evt) {
                    xy[2] = evt.pageX;
                    xy[3] = evt.pageY;
                }
                $("#elasticstack a").click(elasticClickHandler);
                function elasticClickHandler(evt) {
                    if (Math.abs(xy[0] - xy[2]) > 10 || Math.abs(xy[1] - xy[3])>10)
                        evt.preventDefault();
                }
            }
        </script>
    </body>
</html>
