@using FestivalSite.Helpers
@model IEnumerable<FestivalLibAdmin.Model.Optreden>
@if(Model!=null&&Model.Count()>0)
{ 
    <section class="optredens clearfix">
    @foreach (var optreden in Model)
        {
        <div>
                <div class="optreden card" style="background-image:url('@optreden.Band.Picture')">
                    <a href="@Url.Action("Details","Band",new{name=optreden.Band.Name})">
                        @optreden.Band.Name
                    </a>
                </div>
                <div class="optreden card">
                    <a href="@Url.Action("Details","Band",new{name=optreden.Band.Name})">
                        @optreden.Band.Name
                    </a>
                    @Html.Action("OptredensPartial", "Band", new { bandID = optreden.BandID })
                </div>
        </div>
            
        
        }
        
    </section>
}