@model FestivalSite.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}
<section class="breadcrumb">
    @Html.MvcSiteMap().SiteMapPath()
</section>
    <h2>Aanmelden met @ViewBag.ProviderDisplayName</h2>
<section class="card login">
    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            <p>
                U hebt succesvol aangemeld met <strong>@ViewBag.ProviderDisplayName</strong>.
                Gelieve u naam en email nog in te geven.
            </p>
            <ol>
                <li class="name">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li class="email">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { type = "email" })
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
            </ol>
            @Html.HiddenFor(m => m.ExternalLoginData)
            <input type="submit" value="Register" />
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
