@model FestivalSite.Models.RegisterModel
@{
    ViewBag.Title = "Registreer";
}
<section id="registerForm">
    <section>
        <h2>Maak een nieuw account</h2>
        <section class="card register">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <input type="submit" value="Register" />
            }
        </section>
    </section>
    <section class="social" id="socialLoginForm">
        <h2>Registreer je via</h2>
        <section class="card loginextern">
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>

    </section>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
